HTTP 시작

## 목차

- **모든 것이 HTTP**
- 클라이언트 서버 구조
- Stateful, Stateless
- 비 연결성(Connectionless)
- HTTP 메시지

### 데이터를 주고받기 위한 규약 HTTP

```yaml
HTTP 메시지에 모든 것을 전송:
  - HTML, TEXT
  - IMAGE, 음성, 영상, 파일
  - JSON, XML (API)
  - 거의 모든 형태의 데이터 전송 가능
  - 서버간에 데이터를 주고 받을 때도 대부분 HTTP 사용
  - 지금은 HTTP 시대!
```

### HTTP의 역사

```yaml
HTTP가 흘러온 과정:
- HTTP/0.9 1991년 : GET 메서드만 지원, HTTP 헤더 x
- HTTP/1.0 1996년 : 메서드, 헤더 추가
- `HTTP/1.1 1997년` : 가장 많이 사용, 우리에게 가장 중요한 버전
    - RFC2068 (`1997`) → RFC2616 (`1999`) → RFC7230 ~ 7235 (`2014`)
- HTTP/2 2015년 : 성능 개선
- HTTP/3 진행중 : `TCP 대신에 UDP 사용`, 성능 개선
```

### 기반 프로토콜

```yaml
HTTP/1.1을 알면 다른 것들도 커버 가능
- TCP : `HTTP/1.1`, HTTP/2
- UDP : HTTP/3
- 현재 HTTP/1.1 주로 사용
    - HTTP/2, HTTP/3도 점점 증가
```

### HTTP 특징
```yaml
- 클라이언트 서버 구조
- 무상태 프로토콜(스테이스리스), 비연결성
- HTTP 메시지
- 단순함, 확장 가능
```

> [HTTP 시작 Wiki 정리](https://github.com/ym1085/TIL/wiki/HTTP-%EC%8B%9C%EC%9E%91)